.gray {
  background-color: darkgray;
}

.blue {
  background-color: cornflowerblue;
}

.green {
  background-color: darkseagreen;
}

.red {
  background-color: tomato;
}

.month-container {
  border: 1px solid black;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: 3%;
  border-radius: 5px;
  height: 40px;
}
